/* RESET */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

/* LAYOUT */
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

/* HEADER */
.header {
    margin-bottom: 20px;
}

/* KARTY */
.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 16px;
    margin-bottom: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

/* TYPO */
h1,
h2,
h3 {
    margin: 0 0 10px;
}

/* INPUTY */
input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
}

/* BUTTONY */
button {
    padding: 10px 14px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: #4f5b6e;
    color: white;
    transition: 0.2s;
}

button:hover {
    opacity: 0.5;
}

/* LISTA TRANSAKCJI */
ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background: #334155;
    padding: 10px;
    border-radius: 8px;
}

/* WYKRES */
.chart-card {
    text-align: center;
}

.chart-wrapper {
    position: relative;
    max-width: 280px;
    margin: 0 auto;
}

.chart-wrapper canvas {
    position: relative;
    z-index: 2;
}
/* ŚRODEK DONUTA */
.chart-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    pointer-events: none;
    z-index: 1;
}

.chart-center strong {
    font-size: 24px;
    color: #22c55e;
}

.chart-center span {
    display: block;
    font-size: 12px;
    opacity: 0.7;
}

/* PRZYCHÓD / WYDATEK KART */
.income {
    border-right: 4px solid #22c55e;
}

.expense {
    border-right: 4px solid #ef4444;
}
